html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}

.body, .header, .footer {
  background-color: bisque;
  border: 2px solid white;
  margin: 5px;
}

.header {
  text-align: center;
}

.footer {
  font-style: italic;
}

.sloupec {
  display: inline-block;
  width: 32%
}

.sloupec a {
  color: red;
  text-align: center;
  display: block;
}